<b>Sections</b>
<ul>
<li><a href="/about/">About</a></li>
<li><a href="/tutorials/">Tutorials</a></li>
<li><a href="/software/">Software</a></li>
<li><a href="/blog/">Blog</a></li>
</ul>

<b>Connect</b>

<ul>
<li><a href="https://github.com/djknitex">GitHub</a></li>
<li><a href="https://nsxplus.itch.io/">Itch.io</a></li>
<li><a href="https://www.youtube.com/@nsxplus">Youtube</a></li>
<li><a href="https://nikkix.me">Portfolio</a></li>
<li><a href="https://discord.gg/sCEautb2wb">Discord</a></li>
</ul>
